main {
  /* text-align: justify; */
  margin-left: 21vw;
  display: flex;
  align-items: center;
  
}

.casa-img {
  height: 12rem;
  width: 17rem;

}

main a {
  background-color: #fe9d97;
  font-size: 1rem;
  padding: 10px;
  border-radius: 4px;
}

main a:hover {
  background-color: #e8caaf;
}

main h1 {
  font-weight: bold;
  font-size: 3rem;
}

main p {
  font-size: 1.5rem;
}

main h5 {
  font-size: 1rem;
}

main p, h5 {
  padding-right: 30px;
}

.adverts {
  margin-right: 3rem;
  display: flex;
  flex-direction: column;

  /* flex-flow: row wrap; */
  /* flex-wrap: wrap; */
}

.adverts-info {
  height: 300px;
  border-radius: 15px;
  border: solid 2px #e6dac6;
  padding: 30px;
  margin: 20px 0;
  transition: 0.3s;
  display: flex;

}
.adverts-info:hover {
  border: solid 2px #390039;
}

.adverts-info:active {
  background-color: #d6c3b9;
}

.casa-img, .adverts-info {
  /* margin: 30px 0 ; */
  background-color: #e6dac6;
}

.filter-logo-input, .menu-hamburguer-input {
  height: 20px;
}

.filter-and-category {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.title-text-adverts-info {
  margin: 30px 0 30px 30px;

}

.title-text-adverts-info p {
  margin-top: 20px;
}

.place-data-adverts-info {
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
}