nav {
  background-color: #b37883;
  height: 100vh;
  position: fixed;
  width: 12vw;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.img-home {
  width: 1.5rem;
  padding: 10px;
}

.links-nav {
  /* margin: 2px 5px; */
  font-size: 1.rem;
  font-weight: bold;
}

.links-nav:active {
  color: #820081;
}

.logotype {
  width: 5rem;
}

