@import "./reset.css";
@import "./nav.css";
@import "./main.css";
@import "./footer.css";

body {
  background-color: #e4e6c9;
  font-family: 'Times New Roman', Times, serif;
  height: 100%;
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

body, a {
  color: #390039;
}